.1_4 { 
	overflow:hidden;
}.e1_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:595px;
	height:842px;
	position:absolute;
}.e1_11 { 
	transform: rotate(2.4848080486811704e-17deg);
	width:444.0010681152344px;
	height:0px;
	position:absolute;
	left:150.9994354248047px;
	top:42px;
}.1_11 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e2_29 { 
	transform: rotate(2.4848080486811704e-17deg);
	width:444.0010681152344px;
	height:0px;
	position:absolute;
	left:153px;
	top:134px;
}.2_29 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e1_10 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:146px;
	height:32px;
	position:absolute;
	left:191px;
	top:10px;
	font-family:Playfair Display;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e2_28 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:110px;
	height:21px;
	position:absolute;
	left:191px;
	top:111px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2_62 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:52px;
	height:21px;
	position:absolute;
	left:192px;
	top:436px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_13 { 
	background-color:rgba(239.00000095367432, 227.00000166893005, 215.0000023841858, 1);
	width:152px;
	height:638px;
	position:absolute;
	left:-1.0000061988830566px;
	top:207.5px;
}.e12_140 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:7px;
	top:557px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.12_141 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e12_141 { 
	width:153px;
	height:0px;
	position:absolute;
	left:-1px;
	top:581px;
}.e12_123 { 
	width:117px;
	height:27px;
	position:absolute;
	left:7px;
	top:524px;
}.e12_124 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:72px;
	top:22px;
}.e12_125 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:80px;
	top:22px;
}.e12_126 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:88px;
	top:22px;
}.e12_127 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:96px;
	top:22px;
}.e12_128 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:104px;
	top:22px;
}.e12_129 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:112px;
	top:22px;
}.e12_130 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:8px;
	top:22px;
}.e12_131 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:16px;
	top:22px;
}.e12_132 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:24px;
	top:22px;
}.e12_133 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:32px;
	top:22px;
}.e12_134 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:40px;
	top:22px;
}.e12_135 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:48px;
	top:22px;
}.e12_136 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:56px;
	top:22px;
}.e12_137 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:64px;
	top:22px;
}.e12_138 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:56px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e12_139 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:0px;
	top:22px;
}.e12_106 { 
	width:117px;
	height:27px;
	position:absolute;
	left:7px;
	top:491px;
}.e12_107 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:72px;
	top:22px;
}.e12_108 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:80px;
	top:22px;
}.e12_109 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:88px;
	top:22px;
}.e12_110 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:96px;
	top:22px;
}.e12_111 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:104px;
	top:22px;
}.e12_112 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:112px;
	top:22px;
}.e12_113 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:8px;
	top:22px;
}.e12_114 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:16px;
	top:22px;
}.e12_115 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:24px;
	top:22px;
}.e12_116 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:32px;
	top:22px;
}.e12_117 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:40px;
	top:22px;
}.e12_118 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:48px;
	top:22px;
}.e12_119 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:56px;
	top:22px;
}.e12_120 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:64px;
	top:22px;
}.e12_121 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:62px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e12_122 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:0px;
	top:22px;
}.e10_86 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:43px;
	height:21px;
	position:absolute;
	left:7px;
	top:428px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.10_87 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e10_87 { 
	width:153px;
	height:0px;
	position:absolute;
	left:-1px;
	top:452px;
}.e10_83 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:7px;
	top:390px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e10_84 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:81px;
	height:13px;
	position:absolute;
	left:7px;
	top:409px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e10_81 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:7px;
	top:352px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e10_82 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:81px;
	height:13px;
	position:absolute;
	left:7px;
	top:371px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_79 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:7px;
	top:314px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_78 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:15px;
	position:absolute;
	left:7px;
	top:293px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_77 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:63px;
	height:12px;
	position:absolute;
	left:7px;
	top:278px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_80 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:81px;
	height:13px;
	position:absolute;
	left:7px;
	top:333px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_76 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:40px;
	height:16px;
	position:absolute;
	left:7px;
	top:259px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e10_85 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:40px;
	height:16px;
	position:absolute;
	left:7px;
	top:259px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.1_6 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e1_6 { 
	width:151px;
	height:223px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_12 { 
	transform: rotate(-90.00000000000003deg);
	width:657px;
	height:0px;
	position:absolute;
	left:153px;
	top:842px;
}.1_12 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e1_15 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:21px;
	position:absolute;
	left:7px;
	top:229px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.1_19 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e1_19 { 
	width:153px;
	height:0px;
	position:absolute;
	left:-1px;
	top:253px;
}.e2_26 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:367px;
	height:49px;
	position:absolute;
	left:191px;
	top:52px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_69 { 
	width:369px;
	height:63px;
	position:absolute;
	left:191px;
	top:542px;
}.e2_70 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:194px;
	height:28px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_71 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:235px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_72 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:15px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_73 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:55px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_68 { 
	width:369px;
	height:63px;
	position:absolute;
	left:191px;
	top:469px;
}.e2_65 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:194px;
	height:28px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_66 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:235px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_67 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:15px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_64 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:47px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_57 { 
	width:369px;
	height:63px;
	position:absolute;
	left:191px;
	top:363px;
}.e2_58 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:50px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_59 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:194px;
	height:28px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_60 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:235px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_61 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:15px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_47 { 
	width:369px;
	height:63px;
	position:absolute;
	left:191px;
	top:290px;
}.e2_48 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:50px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_49 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:194px;
	height:28px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_50 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:235px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_51 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:15px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_42 { 
	width:369px;
	height:63px;
	position:absolute;
	left:191px;
	top:217px;
}.e2_43 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:50px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_44 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:194px;
	height:28px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_45 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:235px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_46 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:15px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_41 { 
	width:369px;
	height:62.658538818359375px;
	position:absolute;
	left:191px;
	top:144px;
}.e2_30 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:48px;
	height:15.91327953338623px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_37 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:194px;
	height:27.848237991333008px;
	position:absolute;
	left:0px;
	top:17.90243911743164px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_40 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:134px;
	height:13.924118995666504px;
	position:absolute;
	left:235px;
	top:17.90243911743164px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_39 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:107px;
	height:14.918699264526367px;
	position:absolute;
	left:0px;
	top:47.739837646484375px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e2_74 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:47px;
	height:21px;
	position:absolute;
	left:192px;
	top:615px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2_63 { 
	transform: rotate(2.471340316591965e-17deg);
	width:444.0010681152344px;
	height:0px;
	position:absolute;
	left:153px;
	top:459px;
}.2_63 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e2_75 { 
	transform: rotate(2.471340316591965e-17deg);
	width:444.0010681152344px;
	height:0px;
	position:absolute;
	left:153px;
	top:638px;
}.2_75 { 
	border:2px solid rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
}.e12_105 { 
	width:117px;
	height:27px;
	position:absolute;
	left:7px;
	top:458px;
}.e12_99 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:72px;
	top:22px;
}.e12_100 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:80px;
	top:22px;
}.e12_101 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:88px;
	top:22px;
}.e12_102 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:96px;
	top:22px;
}.e12_103 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:104px;
	top:22px;
}.e12_104 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 0.5799999833106995);
	width:5px;
	height:5px;
	position:absolute;
	left:112px;
	top:22px;
}.e12_91 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:8px;
	top:22px;
}.e12_92 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:16px;
	top:22px;
}.e12_93 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:24px;
	top:22px;
}.e12_94 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:32px;
	top:22px;
}.e12_95 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:40px;
	top:22px;
}.e12_96 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:48px;
	top:22px;
}.e12_97 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:56px;
	top:22px;
}.e12_98 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:64px;
	top:22px;
}.e12_88 { 
	color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:65px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e12_90 { 
	border-radius:500px;
	background-color:rgba(112.000000923872, 71.00000336766243, 64.00000378489494, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:0px;
	top:22px;
}